* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.welcome{
    width: 100vw;
    height: 10vh;
    background: #5262bc;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title{
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 5px solid rgba(220,223,241,0.4);   
}

.content{
    font-family:'Oswald', sans-serif;
    font-size: 16px;   
}

.timer {
    margin: 2.5em;
    background: rgba(82, 97, 188, 0.5);
    color: #ffffff;
    padding: 2%;
    margin-bottom: 15px;
    border-radius:  15px;
}
